name: Release

on:
  push:
    tags:
    - 'v*.*.*'

jobs:
  build:

    runs-on: windows-latest
    #runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.x.x

    - name: Git version
      id: gitVersion
      shell: bash
      run: |
        FULL_VERSION=$(git describe --tags --dirty --long --abbrev=10)
        VERSION=$(echo $FULL_VERSION | sed 's/\(v\)\([0-9][0-9]*\).*\.\([0-9][0-9]*\).*\.\([0-9][0-9]*\).*/\2.\3.\4/')
        echo ::set-output name=gitfullversion::$FULL_VERSION
        echo ::set-output name=gitversion::$VERSION

    - name: Build
      run: dotnet publish -p:PublishProfile=Erlin.Utils.Caffeine\Properties\PublishProfiles\Win10DotNetCore.pubxml -o PublishRelease -p:AssemblyVersion=${{ steps.gitVersion.outputs.gitversion }} -p:FileVersion=${{ steps.gitVersion.outputs.gitversion }} -p:InformationalVersion=${{ steps.gitVersion.outputs.gitfullversion }}

    - name: Pulish release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          PublishRelease\Erlin.Utils.Caffeine.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
